/* Main Container */
.contact-container {
  width: 100%;
  min-height: 80vh;
  background-image: url("../images/2.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
}

/* Contact Card */
.contact-info {
  max-width: 1250px;
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

/* Heading */
.contact-info h2 {
  font-size: 32px;
  color: #1e293b;
  margin-bottom: 10px;
}

/* Sub text */
.contact-info > p:first-of-type {
  color: #64748b;
  margin-bottom: 25px;
  font-size: 15px;
}

/* Section Titles */
.contact-info h3 {
  margin-top: 25px;
  color: #0f172a;
  font-size: 20px;
  border-left: 4px solid #2563eb;
  padding-left: 10px;
}

/* Paragraph */
.contact-info p {
  font-size: 15px;
  color: #334155;
  margin: 6px 0;
  line-height: 1.6;
}

/* Icons spacing */
.contact-info p span {
  margin-right: 6px;
}
.contact-info a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.contact-info a:hover{
  text-decoration: underline;
}
/* Responsive */
@media (max-width: 768px) {

  .contact-info {
    padding: 30px 20px;
  }

  .contact-info h2 {
    font-size: 26px;
  }

  .contact-info h3 {
    font-size: 18px;
  }

  .contact-info p {
    font-size: 14px;
  }
}