.footer {
  background: linear-gradient(135deg, #1b6535, #4bb24d);
  color: #fff;
  padding: 60px 100px 20px;
  border-radius: 80px 80px 0 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


.footer-logo-text {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer-tagline {
  margin: 15px 0 25px;
  font-size: 16px;
  opacity: 0.8;
}

.footer-emails p {
  margin: 8px 0;
  font-size: 14px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons span {
  margin-right: 10px;
  font-size: 14px;
}

.social-icons a {
  margin: 0 8px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s ease;
}

.social-icons a:hover {
  opacity: 0.7;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #222;
  font-size: 14px;
  opacity: 0.7;
}

.footer-bottom p {
  margin: 6px 0;
}