.gallery-container {
  display: flex;
  width: 100%;
  height: 600px;
  /* height: 500px; */
  background-image: url("../images/gab.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

/* PANELS */
.panel {
  background-color: rgb(15, 15, 16);
  padding: 100px;
  width: 50%;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  background-color: rgba(15, 15, 16, 0.9);
  transition: transform 3s ease;
}

/* START POSITIONS */
.left {
  transform: translateX(-100%);
}

.right {
  transform: translateX(100%);
}

/* FINAL POSITION */
.panel.show {
  transform: translateX(0);
}

/* IMAGES */
.panel img {
  opacity: 1;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
