.video-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-image: url("/images/vistara.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 15px;
}

.video-gallery {
    display: grid;
    max-width: 1500px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 20px;
    margin-bottom: 50px;
    margin: 0 auto;
    align-items: center;  
      
}
.video-gallery-header{
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
   
}
.review-title{
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.video-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
    padding: 6px 6px;
    border-radius: 15px;


}


.video-thumbnail {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* .video-thumbnail:hover {
    transform: scale(1.03);
} */

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 10px black;
}

.video-title {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .video-gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    }
}

@media (max-width: 600px) {
    .video-gallery {
        grid-template-columns: 1fr;
    }
}